@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Jost:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body,html{
    font-family: 'Hind Siliguri', sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    background: #1D1B20;
    /* background: #FBF8FC; */
    z-index: 1;
    position: relative;
    color: #fff;
    
}

section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./img/BG2.png');
    background-repeat: no-repeat;
    z-index: -1;
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.ami{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    background: green;
    opacity: 0.1;
    border-radius: 50%;
    z-index: -1;
}


.tmi{
    position: absolute;
    left: 25%;
    top: 40%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: green;
    opacity: 0.1;
    z-index: -1;
}

.div{
    width: 50%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    
}
.div h2{
    text-align: center;
    color: #d8d5db;
    font-size: 35px;
    margin-bottom: 15px;
}
.div form input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 6px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #1D1B20;
}

.div form div{
    text-align: right;
}
.div form div #submit{
    border: 1px solid #d8d5db;
    border-radius: 4px;
    outline: none;
    padding: 8px 35px;
    background: transparent;
    color: #d8d5db;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    cursor: pointer;
    position: relative;

}
.div form div #submit::before{
    content:"";
    position: absolute;
    left: 0px;
    top: 0;
    width: 0%;
    height: 100%;
    border: 1px solid #d8d5db;
    border-radius: 4px;
    z-index: -1;
    background: #d8d5db;
    transition: 0.3s;
    opacity: 0;
}

.div form div #submit:hover::before{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.div form div #submit:hover{
    color: #1D1B20;
}

@media screen and (max-width: 821px){
    .div{
        margin: 0 auto;
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .div{
        width: 100%;
    }
}